html { background-color: white;  font-family: 'Open Sans', sans-serif; }
body { margin: 0 auto;}
body.bgIndex { background: url(../img/background-index.png) top center no-repeat, url(../img/background-index-repeat.png) top center repeat-x; }

header { margin: 0 auto; padding: 0 !important; margin-bottom: 80px;}
a { color: inherit; }
a:hover, a:active, a:focus, a.active { text-decoration: none; color: inherit; } 

#menuOnOff { display: none; }
#menuOnOff:checked ~ nav.mainMenuMobile .mainMenu .mobileMenuContent { display: block; }
header { }
header .menuIcon { display: none; }
header #topMenu { margin: 0 auto; padding-top: 50px; }
header #topMenu .topMenuContainer {margin:  0 50px;}
header #topMenu a { color: #443f36; display: block;}
header #topMenu a.colored { color: #d83d20; }
header #topMenu a:hover span, header #topMenu a:active span, header #topMenu a.active span, header #topMenu a:focus span { border-bottom: 2px solid #443f36;  }
header #topMenu .menuLeft { text-align: left; padding-top: 5px;}
header #topMenu .menuCenter { text-align: center; }
header #topMenu .menuRight { text-align: right; padding-top: 5px;}
header .headerLogo { background: url(../img/logo-full.png) center center no-repeat; }
header .headerLogo img { visibility: hidden; }

.indexSectionOne { min-height: 550px; padding: 0 190px;}
.indexSectionOne .indexSectionOneImage { text-align: center;}
.indexSectionOne .indexSectionOneImage img { object-fit: contain;  }
.indexSectionOne .indexSectionOneContent { padding-right: 40px; }
section .sectionButtons { margin-top: 50px;}
section .sectionButtons a { text-transform: uppercase; font-size: 16px; padding: 23px 43px; border: 2px solid #722011; color: #722011;  border-radius: 5px; margin-right: 30px; }
section .sectionButtons a.active, section .sectionButtons a:hover, section .sectionButtons a:focus, section .sectionButtons a:active { background-color: #d83d20; border-color: #d83d20; color: white; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5); }
.indexSectionOne h1 {color: #d83d20; font-size: 36px; }
.indexSectionOne p {color: #4c4c4c; font-size: 20px; padding: 5px 0 15px;  }

.indexSectionTwo { margin-top: 20px; margin-bottom: 20px;}
section .mainCaption { color: #3c3c3c; font-size: 16px; text-transform: uppercase; padding: 0 190px; background: url(../img/main-caption-background.png) 70px center no-repeat; margin-bottom: 40px; }
.indexSectionTwo .rightImages { padding-left: 0px;}
section .inner { padding: 0 190px; }
.image { display: block; border-radius: 5px; margin-bottom: 40px; position: relative; background-position: center center; background-repeat: no-repeat; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5);  }
.image .gradientOverlay {background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 100%); width: 100%; height: 100%; display: block; border-radius: 5px;}
.image { width: 370px; height: 230px;}
.image.bigImage { width: 570px; height: 380px;}
.image .imageCaption { font-size: 20px; color: white;}
.image .imageText { position: absolute; bottom: 14px; left:25px; }
.image .imageDate { font-size: 14px; color: white; display: block; padding-bottom: 6px; line-height: 30px;}
.image .imageDate.locked { padding-left: 35px; background: url(../img/lock.png) left center no-repeat;  }
section .anchorRightArrow { font-size: 16px; color: #d83d20;  float: right; padding-right: 80px; background: url(../img/red-right-arrow.png) right center no-repeat; margin-right: 20px; margin-top: 50px;   }

.indexSectionThree { padding-top: 80px; background: url(../img/index-yellow-background.jpg) 85px center no-repeat; min-height: 550px; background-size: contain; }
.indexSectionThree .mainCaption { color: #cb841d; }

.indexSectionFour { padding-top: 40px;  min-height: 300px; }
.indexSectionFour .indexSectionFourImage { padding-left: 65px;}
.indexSectionFour .anchorRightArrow { float: left;}

.recommendation { padding: 70px 33%; text-align: center; margin: 0 auto; background-color: #322e28; }
.recommendation p { padding: 25px 0; font-size: 18px; color: white;}
.recommendation i {font-size: 18px; color: white;}
.recommendation .recemommendationFace { border-radius: 50%; }

.indexTeam { margin-top: 70px; margin-bottom: 50px; }
.indexTeam .inner { text-align: center; }
.indexTeam .teamName { font-size: 18px; color: #cb841d; padding: 10px 0;  }
.indexTeam p { font-size: 16px; color: #4c4c4c; padding: 0 10%; }
.teamFaceBorder { border-radius: 50%; border: 1px solid #cb841d; width: 80px; width: -moz-max-content; width: max-content;  margin: 0 auto; }
.teamFaceBorder .teamFace { border-radius: 50%; border: 9px solid white; }

footer { border-top: 1px solid #e6e6e6; padding-top: 60px; padding-bottom: 80px;}
footer .container { padding: 0 300px;}
footer ul { list-style-type: none;}
footer ul li { padding: 8px; color: #322e28; font-size: 14px; }
footer ul li a { text-decoration: underline;}

/******************* gallery ******************/


body.bgGallery { background: url(../img/background-yellow-repeat.png) top center repeat-x; margin-bottom: 70px; }
body.bgGallery #topMenu { /*position: fixed; z-index: 10; top: 0px;*/ padding-top: 20px; padding-bottom: 30px;  }
body.bgGallery header { border-bottom: 1px solid #e6e6e6; margin-bottom: 50px; }
body.bgGallery header.container { max-width: inherit;}

.pageGallery { padding: 0 90px; margin: 0 auto 60px; text-align: center; }
.pageGallery h1 { font-size: 36px; color: #cb841d; padding-bottom: 10px; }
.pageGallery p { font-size: 18px; color: #4c4c4c; }
.pageGalleryPhotos { padding: 0 120px; }
.pageGalleryPhotos .image { margin-bottom: 30px;}

.pageGalleryPaginator { padding: 0 120px; margin: 40px auto 90px; text-align: center; }
.pageGalleryPaginator .button { text-transform: uppercase; border-radius: 5px; font-size: 16px; padding: 17px 43px; border: 2px solid #cb841d; background-color: #cb841d; color: white; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5); }
.pageGalleryPaginator .paginatorLeftArrow { width: 29px; height: 15px; background: url(../img/paginator-left-arrow.png) center center no-repeat; margin-top: 5px; }
.pageGalleryPaginator .paginatorLeftArrow.active { width: 29px; height: 15px; background: url(../img/paginator-left-arrow-active.png) center center no-repeat; margin-top: 5px; }
.pageGalleryPaginator .paginatorRightArrow { width: 29px; height: 15px; background: url(../img/paginator-right-arrow.png) center center no-repeat; margin-top: 5px; }
.pageGalleryPaginator .paginatorRightArrow.active { width: 29px; height: 15px; background: url(../img/paginator-right-arrow-active.png) center center no-repeat; margin-top: 5px; }
.pageGalleryPaginator .paginatorNumber { font-size: 16px; color: #999999; }
.pageGalleryPaginator .paginatorNumber.active { color: #cb841d; }

/************* order **************/

body.bgOrder { background: url(../img/background-pink-repeat.png) top center repeat-x; margin-bottom: 70px; }
body.bgOrder #topMenu { /*position: fixed; z-index: 10; top: 0px;*/ padding-top: 20px; padding-bottom: 30px;  }
body.bgOrder header { border-bottom: 1px solid #e6e6e6; margin-bottom: 50px; }
body.bgOrder header.container { max-width: inherit;}

.pageOrder {min-height: 1000px;  padding: 60px 120px 0; margin: 0 auto 50px;}
.pageOrder .pageOrderImage { text-align: center;}
.pageOrder .pageOrderImage img { object-fit: contain;  }
.pageOrder h1 { color: #d83d20; font-size: 36px; }
.pageOrder p { color: #4c4c4c; font-size: 20px; }
.pageOrder label { color: #4c4c4c; font-size: 18px; width: 100%; margin: 10px 0 0; }
.formFormat input, .formFormat select, .formFormat select option, .formFormat textarea { padding: 11px; width: 100%; border: none; border-radius: 5px; box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.8); box-sizing:  border-box; height: 50px; line-height: 50px;}
.formFormat textarea {height: 5em; line-height: 1em; }
.formFormat select { line-height: 30px;}
.formFormat input:focus, .formFormat select:focus, .formFormat textarea:focus   {box-shadow: 0px 0px 30px -6px rgba(0,0,0, 0.8); border: none; outline: 0 none;}
.formFormat .button { width: auto; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); margin-top: 2em; text-transform: uppercase; padding: 16px 30px; height: auto; line-height: 25px; color: white; background-color: #d83d20; }

/************** detail ****************/

.pageDetail {margin: 0 auto 80px; padding: 0 120px;}
.pageDetail h1 { font-size: 36px; color: #cb841d; padding-bottom: 10px; text-align: center;}
.pageDetail h1 .locked { padding-left: 35px; background: url(../img/lock.png) left 15px no-repeat;  }
.pageDetail .date { text-align: center;}
.pageDetail .icons { text-align: right;}
.pageDetail .icons a { padding: 0 10px;}
.pageDetail .backArrow { background: url(../img/back-arrow.png) left 4px no-repeat; margin-top: 6px; padding-left: 45px;}
.tooltipTop { padding-top: 10px 10px;}

.pageDetailPhotos {margin: 0 auto 60px; padding: 0 120px;}
.pageDetailPhotos .image { width: 170px; height: 120px; margin-bottom: 20px;}

.pageDetailLocked {margin: 0 auto 60px; padding: 0 120px;}
.pageDetailLocked .content { margin-left: auto; margin-right: auto; width: 60%; }
.pageDetailLocked .content { border-radius: 5px; box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.8); background-color: white; padding: 30px; }
.pageDetailLocked .content .pageDetailLockedPassword { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); font-size: 18px; }
.pageDetailLocked .content .button { margin-top: 0px; line-height: 18px; font-size: 16px; background-color: #cb841d; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5);}
.pageDetailLocked .content.error { border: 1px solid #d83d20; }
.pageDetailLocked .errorText { color:  #d83d20; padding: 20px; font-size: 18px; margin: 0 auto; text-align: center;  }


/*********** rekvizity **************/
body.bgDark { background: url(../img/background-dark-repeat.png) top center repeat-x; margin-bottom: 70px; }
body.bgDark #topMenu { padding-top: 20px; padding-bottom: 30px;  }
body.bgDark header { border-bottom: 1px solid #443f36; margin-bottom: 50px; }
body.bgDark header.container { max-width: inherit;}

body.dark header .headerLogo { background: url(../img/logo-full-white.png) center center no-repeat; }
body.dark header #topMenu a { color: #fff8ed;}
body.dark header #topMenu a.colored { color: #d83d20;}
body.dark header #topMenu a:hover span, body.dark header #topMenu a:active span, body.dark header #topMenu a.active span, body.dark header #topMenu a:focus span { border-bottom: 2px solid #fff8ed;  }

.pageProps {margin: 0 auto 80px; padding: 0 120px;}
.pageProps h1 { color: white; text-align: center; }
.pageProps p { width: 70%; text-align: center; margin: 0 auto; padding-top: 20px;}
body.dark .pageProps p { color: #fff8ed; }
.pageProps .backArrow { background: url(../img/back-arrow-white.png) left 4px no-repeat; margin-top: 6px; padding-left: 45px; color: #fff8ed; }
.pagePropsPhotos {margin: 0 auto 80px; padding: 0 320px;}
.pagePropsPhotos .image { width: 370px; height: 230px; margin-bottom: 30px;}

.no-margin { margin: 0px !important;}
.no-padding { padding: 0px !important;}

/*extra large - XL mensi nez */
@media (max-width: 1400px) { 
    header, section { width: 990px;}
    header.mainContainer.container {  max-width: 1360px;}
    /*.container { max-width: inherit;}*/
    .indexSectionOne { padding: 0 90px; }
    section .inner { padding: 0 90px; }
    section .sectionButtons a { padding: 12px 26px;}
    .image { width: 290px; height: 170px; margin-bottom: 20px; }
    .image.bigImage { width: 440px; height: 270px;}
    .image .imageText { bottom: 6px; left: 12px; font-size: 17px;}
    .indexSectionThree { min-height: auto; margin-bottom: 50px;}
    .recommendation { width: 100%;}
    footer .container { padding: 0 90px; }
    
    
    .pageGalleryPhotos {padding: 0 98px;}
    .pageGalleryPaginator .paginatorNumbers { margin-top: 50px;}
    
    .pageDetailLocked .content { width: 100%; }
    
    .pagePropsPhotos {margin: 0 auto 80px; padding: 0 295px;}
}

/*large - LG mensi nez*/
@media (max-width: 992px) {
    body.bgIndex { background:  url(../img/background-index-repeat.png) top center repeat-x; }
    header #topMenu .menuLeft { text-align: center;}
    header #topMenu .menuRight { text-align: center;}
    section .sectionButtons a { padding: 10px 10px; font-size: 14px; margin-right: 14px;}
    .indexSectionOne .indexSectionOneImage img { width: 100%;}
    .indexSectionTwo .inner .image { margin: 0 auto; margin-bottom: 20px;}
    .image { width: 360px; height: 230px; }
    .image.bigImage { width: 360px; height: 230px;}
    .indexSectionTwo .inner .rightImages { padding: 0 15px;}
    .indexSectionFour .indexSectionFourImage { display: none;}
    .indexTeam p { padding-bottom: 2em;}
    .recommendation { padding: 50px 15%;}
    
    .pageGalleryPhotos .image { margin-left: auto; margin-right: auto;}
    
    .pageOrder .pageOrderImage img {width: 100%;}
    
    .pageDetail .navigation { text-align: center; }
    .pageDetail .navigation .icons { text-align: center; }
    .pageDetail .navigation > div { padding: 5px 0; }
    .pageDetailPhotos {padding: 0 175px;}
    
    .pageDetailLocked .content { margin: 0 auto; text-align: center; }
    
    .pagePropsPhotos {margin: 0 auto 80px; padding: 0 20px;}
    .pagePropsPhotos .image { margin-left: auto; margin-right: auto; }
}

/*medium - MD mensi nez*/
@media (max-width: 768px) {
    header { margin-bottom: 30px;}
    header #topMenu .menuCenter { padding-bottom: 7px;}
    header #topMenu .menuLeft { padding-top: 0;}
    header #topMenu .menuRight { padding-top: 0;}
    .container { max-width: inherit;}
    section .mainCaption { background: none; margin: 0 auto; text-align: center; padding: 10px;}
    .indexSectionThree { background: none; padding-top: 20px;}
    .indexSectionOne {min-height: 440px;}
    .indexSectionOne .indexSectionOneImage { display: none; }
    .image { width: 280px; height: 190px; }
    .image.bigImage { width: 280px; height: 190px;}
    .image .imageText * { font-size: 0.9em;}
    
    .pageOrder .pageOrderImage {display: none;}

    .pageDetailPhotos {padding: 0 207px;}
    .pageDetailPhotos .image { margin-left: auto; margin-right: auto; }
    
    .pagePropsPhotos .image { width: 280px; height: 190px; }
}

/*small - SM mensi nez*/
@media (max-width: 576px) {
    header #topMenu { padding-top: 30px; }
    section .inner { padding: 5px;}
    .row { margin: 0; padding: 0;}
    .row>div { margin: 0; padding: 0;}
    .indexSectionTwo .inner .rightImages { margin: 0; padding: 0;}
    .indexSectionOne .indexSectionOneContent { padding: 5px;}
    .indexSectionOne { padding: 20px;}
    footer .container { padding: 5px; text-align: center;}
    footer .container ul { padding: 0;}
    
    .pageGalleryPhotos { padding: 0 20px;}
    .pageGalleryPaginator { padding: 0 20px;}
    .pageGalleryPaginator .paginatorNumbers .row * { padding-left: 2px; padding-right: 2px; margin-left: 0px; margin-right: 0px;}
    .pageGalleryPaginator .paginatorNumbers .row span { display: inline-block;}
    
    .pageOrder { padding: 20px; }
    .formFormat .button { width: 100%;}
    
    .pageDetail {padding: 0 20px; margin-bottom: 20px;}
    .pageDetailPhotos {padding: 0 20px;}
    
    .pageDetailLocked {padding: 0 20px;}
    
    .pageProps {padding: 0 20px;}
    .pageProps h1 { font-size: 20px; }
    body.dark .pageProps p {  padding-top: 10px; }
    
}
