@font-face {
    font-family: 'yyy';
    src: url("./font/yyy.otf") format("opentype");
}

@font-face {
    font-family: 'xxx';
    font-weight: bold;
    src: url("./font/xxx.otf") format("opentype");
}

html { background-color: white;  font-family: 'Raleway', sans-serif; }
body { font-family: 'Raleway', sans-serif;   margin: 0 auto;}
body.bgIndex { background: url(../img/background-index.png) top center no-repeat, url(../img/background-index-repeat.png) top center repeat-x; }

header { margin: 0 auto; padding: 0 !important; font-family: 'Raleway', sans-serif; margin-bottom: 80px;}
a { color: inherit; }
a:hover, a:active, a:focus, a.active { text-decoration: none; color: inherit; } 

#menuOnOff { display: none; }
#menuOnOff:checked ~ nav.mainMenuMobile .mainMenu .mobileMenuContent { display: block; }
header { }
header .menuIcon { display: none; }
header #topMenu { margin: 0 auto; padding-top: 50px; }
header #topMenu .topMenuContainer {margin:  0 50px;}
header #topMenu a { color: #443f36;}
header #topMenu a.colored { color: #d83d20; }
header #topMenu a:hover span, header #topMenu a:active span, header #topMenu a.active span, header #topMenu a:focus span { border-bottom: 2px solid #443f36;  }
header #topMenu .menuLeft { text-align: left; padding-top: 5px;}
header #topMenu .menuCenter { text-align: center; }
header #topMenu .menuRight { text-align: right; padding-top: 5px;}

.indexSectionOne { min-height: 550px; padding: 0 190px;}
.indexSectionOne .indexSectionOneImage { text-align: center;}
.indexSectionOne .indexSectionOneImage img { object-fit: contain;  }
.indexSectionOne .indexSectionOneContent { padding-right: 40px; }
section .sectionButtons { margin-top: 50px;}
section .sectionButtons a { text-transform: uppercase; font-size: 16px; padding: 23px 43px; border: 2px solid #722011; color: #722011;  border-radius: 5px; margin-right: 30px; }
section .sectionButtons a.active, section .sectionButtons a:hover, section .sectionButtons a:focus, section .sectionButtons a:active { background-color: #d83d20; border-color: #d83d20; color: white; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5); }
.indexSectionOne h1 {color: #d83d20; font-size: 36px; }
.indexSectionOne p {color: #4c4c4c; font-size: 20px; padding: 5px 0 15px;  }

.indexSectionTwo { margin-top: 20px; margin-bottom: 20px;}
section .mainCaption { color: #3c3c3c; font-size: 16px; text-transform: uppercase; padding: 0 190px; background: url(../img/main-caption-background.png) 70px center no-repeat; margin-bottom: 40px; }
.indexSectionTwo .rightImages { padding-left: 0px;}
section .inner { padding: 0 190px; }
.indexSectionTwo .image { display: block; border-radius: 5px; margin-bottom: 40px; position: relative; background-position: center center; background-repeat: no-repeat; box-shadow: -2px 2px 30px -8px rgba(0,0,0,0.5);  }
.indexSectionTwo .image .gradientOverlay {background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 100%); width: 100%; height: 100%; display: block; border-radius: 5px;}
.indexSectionTwo .image { width: 370px; height: 230px;}
.indexSectionTwo .image.bigImage { width: 570px; height: 380px;}
.indexSectionTwo .image .imageCaption { font-size: 20px; color: white;}
.indexSectionTwo .image .imageText { position: absolute; bottom: 14px; left:25px; }
.indexSectionTwo .image .imageDate { font-size: 14px; color: white; display: block; padding-bottom: 6px; line-height: 30px;}
.indexSectionTwo .image .imageDate.locked { padding-left: 35px; background: url(../img/lock.png) left center no-repeat;  }
section .anchorRightArrow { font-size: 16px; color: #d83d20;  float: right; padding-right: 80px; background: url(../img/red-right-arrow.png) right center no-repeat; margin-right: 20px; margin-top: 50px;   }

.indexSectionThree { padding-top: 80px; background: url(../img/index-yellow-background.jpg) 85px center no-repeat; min-height: 550px; background-size: contain; }
.indexSectionThree .mainCaption { color: #cb841d; }

.indexSectionFour { padding-top: 40px;  min-height: 300px; }
.indexSectionFour .indexSectionFourImage { padding-left: 65px;}
.indexSectionFour .anchorRightArrow { float: left;}

.recommendation { padding: 70px 33%; text-align: center; margin: 0 auto; background-color: #322e28; }
.recommendation p { padding: 25px 0; font-size: 18px; color: white;}
.recommendation i {font-size: 18px; color: white;}
.recommendation .recemommendationFace { border-radius: 50%; }

.indexTeam { margin-top: 70px; margin-bottom: 50px; }
.indexTeam .inner { text-align: center; }
.indexTeam .teamName { font-size: 18px; color: #cb841d; padding: 10px 0;  }
.indexTeam p { font-size: 16px; color: #4c4c4c; padding: 0 10%; }
.teamFaceBorder { border-radius: 50%; border: 1px solid #cb841d; width: 80px; width: -moz-max-content; width: max-content;  margin: 0 auto; }
.teamFaceBorder .teamFace { border-radius: 50%; border: 9px solid white; }

footer { border-top: 1px solid #e6e6e6; padding-top: 60px; padding-bottom: 80px;}
footer .container { padding: 0 300px;}
footer ul { list-style-type: none;}
footer ul li { padding: 8px; color: #322e28; font-size: 14px; }
footer ul li a { text-decoration: underline;}


.no-margin { margin: 0px !important;}
.no-padding { padding: 0px !important;}

/*extra large - XL mensi nez */
@media (max-width: 1400px) { 
    header, section { width: 990px;}
    header.mainContainer.container {  max-width: 1360px;}
    /*.container { max-width: inherit;}*/
    .indexSectionOne { padding: 0 90px; }
    section .inner { padding: 0 90px; }
    section .sectionButtons a { padding: 12px 26px;}
    .indexSectionTwo .image { width: 290px; height: 170px; margin-bottom: 20px; }
    .indexSectionTwo .image.bigImage { width: 440px; height: 270px;}
    .indexSectionTwo .image .imageText { bottom: 6px; left: 12px; font-size: 17px;}
    .indexSectionThree { min-height: auto; margin-bottom: 50px;}
    .recommendation { width: 100%;}
    footer .container { padding: 0 90px; }
}

/*large - LG mensi nez*/
@media (max-width: 992px) {
    body.bgIndex { background:  url(../img/background-index-repeat.png) top center repeat-x; }
    header #topMenu .menuLeft { text-align: center;}
    header #topMenu .menuRight { text-align: center;}
    section .sectionButtons a { padding: 10px 10px; font-size: 14px; margin-right: 14px;}
    .indexSectionOne .indexSectionOneImage img { width: 100%;}
    .indexSectionTwo .inner .image { margin: 0 auto; margin-bottom: 20px;}
    .indexSectionTwo .image { width: 360px; height: 230px; }
    .indexSectionTwo .image.bigImage { width: 360px; height: 230px;}
    .indexSectionTwo .inner .rightImages { padding: 0 15px;}
    .indexSectionFour .indexSectionFourImage { display: none;}
    .indexTeam p { padding-bottom: 2em;}
    .recommendation { padding: 50px 15%;}
}

/*medium - MD mensi nez*/
@media (max-width: 768px) {
    header { margin-bottom: 30px;}
    .container { max-width: inherit;}
    section .mainCaption { background: none; margin: 0 auto; text-align: center; padding: 10px;}
    .indexSectionThree { background: none; padding-top: 20px;}
    .indexSectionOne {min-height: 440px;}
    .indexSectionOne .indexSectionOneImage { display: none; }
    .indexSectionTwo .image { width: 280px; height: 190px; }
    .indexSectionTwo .image.bigImage { width: 280px; height: 190px;}
}

/*small - SM mensi nez*/
@media (max-width: 576px) {
    header #topMenu { padding-top: 30px; }
    section .inner { padding: 5px;}
    .row { margin: 0; padding: 0;}
    .row>div { margin: 0; padding: 0;}
    .indexSectionTwo .inner .rightImages { margin: 0; padding: 0;}
    .indexSectionOne .indexSectionOneContent { padding: 5px;}
    .indexSectionOne { padding: 5px;}
    footer .container { padding: 5px; text-align: center;}
    footer .container ul { padding: 0;}
}
